    .App {
        text-align: center;
    }
    
    .generic-container {
        box-sizing: border-box;
        display: flex;
        flex: 0 1 auto;
        flex-flow: row wrap;
        margin-right: -0.5rem;
        margin-left: -0.5rem;
    }
    
    .generic-margin-bottom {
        margin-bottom: 10px;
    }
    
    .borders {
        box-sizing: border-box;
        flex: 0 0 auto;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
    }
    
    @media only screen and (min-width: 0em) {
        .borders {
            flex-basis: 100%;
            max-width: 100%;
            display: block;
        }
    }
    
    .graph-container {
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        box-sizing: border-box;
        max-width: 1245px;
        min-height: 70vh;
        margin: 0px auto;
        color: rgb(51, 51, 51);
    }
    
    .graph-container .tabs-container {
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
    }